# PostgreSQL
POSTGRES_USER=onrc
POSTGRES_PASSWORD=secret
POSTGRES_DB=onrc_db
DATABASE_URL=postgresql://onrc:secret@db:5432/onrc_db

# Backend
PORT=3001
NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
